.flexcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.box1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.box11 {
    flex: 2;
    background-color: pink;
}

.box12 {
    flex: 1;
    background-color: purple;
}

.box2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.box21 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
}

.box211 {
    background-color: blue;
    flex: 2;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.box212 {
    background-color: red;
    flex: 2;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.box213 {
    flex: 1;
    border-bottom-color: black;
    border-bottom-style: solid;
    
}

.box429 {
    display: flex;
    flex-direction: row;
    flex: 2;
}

.box214 {
    flex: 1;
    border-right-color: black;
    border-right-style: solid;
}

.box215 {
    flex: 1;
}

.box216 {
    background-color: yellow;
    flex: 2;
    border-top-color: black;
    border-top-style: solid;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.box435 {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.box217 {
    flex: 1;
    border-right-color: black;
    border-right-style: solid;
}

.box218 {
    flex: 1;
}

.box22 {
    flex: 2;
    background-color: yellow;
}
